<section>
  <div class="page-header">
    <h1>Showing Requests</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="showing-request in vm.showingRequests"
       data-ui-sref="showingRequests.view({ showing-requestId: showing-request._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="showingRequest.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="showingRequest.user" data-ng-bind="showingRequest.user.displayName"></span>
        <span data-ng-if="!showingRequest.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="showing-request.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.showingRequests.$resolved && !vm.showingRequests.length">
    No Showing Requests yet, why don't you <a data-ui-sref="showingRequests.create">create one</a>?
  </div>
</section>
