<section>
  <div class="page-header">
    <h1>{{vm.showingRequest._id ? 'Edit Showing Request' : 'New Showing Request'}}</h1>
  </div>
  <div class="col-md-offset-3 col-md-6">
    <form name="vm.form.showingRequestForm" class="form-horizontal"
          data-ng-submit="vm.save(vm.form.showingRequestForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" data-show-errors>
          <label class="control-label" for="rental">Rental *</label>
          <select class="form-control" data-ng-model="vm.showingRequest.rental" id="rental" name="rental" required>
            <option value="">Select rental</option>
            <option value="326-main-back">326 Main Street, Back apartment, Cadott, WI</option>
          </select>
          <div data-ng-messages="vm.form.showingRequestForm.rental.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Rental is required.</p>
          </div>
        </div>
        <div class="form-group" data-show-errors>
          <label class="control-label" for="firstName">First Name *</label>
          <input name="firstName" type="text" data-ng-model="vm.showingRequest.firstName" id="firstName"
                 class="form-control" placeholder="First name" required>
          <div data-ng-messages="vm.form.showingRequestForm.firstName.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" data-show-errors>
          <label class="control-label" for="lastName">Last Name *</label>
          <input name="lastName" type="text" data-ng-model="vm.showingRequest.lastName" id="lastName"
                 class="form-control" placeholder="Last name" required>
          <div data-ng-messages="vm.form.showingRequestForm.lastName.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" data-show-errors>
          <label for="email">Email *</label>
          <input type="email" id="email" name="email" class="form-control" data-ng-model="vm.showingRequest.email"
                 placeholder="Email address" data-lowercase required>
          <div data-ng-messages="vm.form.showingRequestForm.email.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Email address is required.</p>
            <p class="help-block error-text" data-ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" data-show-errors>
          <label for="mobile">Mobile Phone *</label>
          <input type="text" id="mobile" name="mobile" class="form-control" data-ng-model="vm.showingRequest.mobile"
                 placeholder="Mobile Phone Number" required>
          <div data-ng-messages="vm.form.showingRequestForm.mobile.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Mobile phone is required.</p>
          </div>
        </div>

        <div class="form-group" data-show-errors>
          <label>Move-In Date *</label>

          <div data-uib-dropdown data-is-open="vm.form.moveInDropdown.IsOpen">
            <div data-uib-dropdown-toggle class="input-group">
              <input type="text" name="moveIn" id="moveIn" class="form-control" data-ng-model="vm.showingRequest.moveIn"
                     data-date-time-input="MM-DD-YYYY" placeholder="MM-DD-YYYY" data-date-formats="['MMM/DD/YYYY']"
                     required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-uib-tooltip="Open Calendar">
                  <i class="glyphicon glyphicon-calendar"></i><span class="sr-only">Calendar</span>
                </button>
              </span>
            </div>
            <div data-uib-dropdown-menu role="menu" data-auto-close="outsideClick">
              <datetimepicker data-ng-model="vm.showingRequest.moveIn"
                              data-datetimepicker-config="{ startView: 'month', minView: 'day'}"
                              data-on-set-time="vm.toggleMoveInDropDown()">
              </datetimepicker>
            </div>
          </div>

          <div data-ng-messages="vm.form.showingRequestForm.moveIn.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Move-in date is required.</p>
            <p class="help-block error-text" data-ng-message="invalid">Move-in date is invalid.</p>
          </div>
        </div>

        <div class="form-group" data-show-errors>
          <label>What is your credit score? *</label>
          <div class="radio">
            <label for="creditScoreUnknown">
              <input type="radio" name="creditScore" id="creditScoreUnknown" value="unknown"
                     data-ng-model="vm.showingRequest.creditScore" required> Unknown
            </label>
          </div>
          <div class="radio">
            <label for="creditScoreExcellent">
              <input type="radio" name="creditScore" id="creditScoreExcellent" value="800-850"
                     data-ng-model="vm.showingRequest.creditScore" required> 800-850
            </label>
          </div>
          <div class="radio">
            <label for="creditScoreVeryGood">
              <input type="radio" name="creditScore" id="creditScoreVeryGood" value="750-799"
                     data-ng-model="vm.showingRequest.creditScore" required> 750-799
            </label>
          </div>
          <div class="radio">
            <label for="creditScoreGood">
              <input type="radio" name="creditScore" id="creditScoreGood" value="700-749"
                     data-ng-model="vm.showingRequest.creditScore" required> 700-749
            </label>
          </div>
          <div class="radio">
            <label for="creditScoreFair">
              <input type="radio" name="creditScore" id="creditScoreFair" value="650-699"
                     data-ng-model="vm.showingRequest.creditScore" required> 650-699
            </label>
          </div>
          <div class="radio">
            <label for="creditScorePoor">
              <input type="radio" name="creditScore" id="creditScorePoor" value="600-649"
                     data-ng-model="vm.showingRequest.creditScore" required> 600-649
            </label>
          </div>
          <div class="radio">
            <label for="creditScoreVeryBad">
              <input type="radio" name="creditScore" id="creditScoreVeryBad" value="300-599"
                     data-ng-model="vm.showingRequest.creditScore" required> 300-599
            </label>
          </div>
          <div data-ng-messages="vm.form.showingRequestForm.creditScore.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Credit score is required.</p>
          </div>
        </div>

        <div class="form-group" data-show-errors>
          <label>Is your household income least $1200 per month (3.5 times the monthly rent)? *</label>
          <br>
          <label class="radio-inline" for="smoker">
            <input type="radio" name="meetsIncomeRequirements" id="meetsIncomeRequirements" value="true"
                   data-ng-model="vm.showingRequest.meetsIncomeRequirements"
                   required> Yes
          </label>
          <label class="radio-inline" for="nonSmoker">
            <input type="radio" name="meetsIncomeRequirements" id="doesNotMeetIncomeRequirements" value="false"
                   data-ng-model="vm.showingRequest.meetsIncomeRequirements"
                   required> No
          </label>

          <div data-ng-messages="vm.form.showingRequestForm.meetsIncomeRequirements.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Household income information is required.</p>
          </div>
        </div>

        <div class="form-group" data-show-errors>
          <label>Do you smoke? *</label>
          <br>
          <label class="radio-inline" for="smoker">
            <input type="radio" name="smoker" id="smoker" value="true" data-ng-model="vm.showingRequest.smoker"
                   required> Yes
          </label>
          <label class="radio-inline" for="nonSmoker">
            <input type="radio" name="smoker" id="nonSmoker" value="false" data-ng-model="vm.showingRequest.smoker"
                   required> No
          </label>

          <div data-ng-messages="vm.form.showingRequestForm.smoker.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Please tell us if you are a smoker.</p>
          </div>
        </div>

        <div class="form-group" data-show-errors>
          <label>Have you ever filed for bankruptcy? *</label>
          <br>
          <label class="radio-inline" for="bankruptcy">
            <input type="radio" name="bankruptcy" id="bankruptcy" value="true"
                   data-ng-model="vm.showingRequest.bankruptcy"
                   required> Yes
          </label>
          <label class="radio-inline" for="noBankruptcy">
            <input type="radio" name="bankruptcy" id="noBankruptcy" value="false"
                   data-ng-model="vm.showingRequest.bankruptcy"
                   required> No
          </label>

          <div data-ng-messages="vm.form.showingRequestForm.bankruptcy.$error" role="alert">
            <p class="help-block error-text"
               data-ng-message="required">Please tell us if you have ever filed for bankruptcy.</p>
          </div>
        </div>

        <div class="form-group" data-show-errors>
          <label>Have you ever been arrested or charged with a crime other than a traffic violation? *</label>
          <br>
          <label class="radio-inline" for="criminal">
            <input type="radio" name="criminal" id="criminal" value="true" data-ng-model="vm.showingRequest.criminal"
                   required> Yes
          </label>
          <label class="radio-inline" for="nonCriminal">
            <input type="radio" name="criminal" id="nonCriminal" value="false"
                   data-ng-model="vm.showingRequest.criminal"
                   required> No
          </label>

          <div data-ng-messages="vm.form.showingRequestForm.criminal.$error" role="alert">
            <p class="help-block error-text"
               data-ng-message="required">Please tell us if you have ever been arrested or charged with a crime.</p>
          </div>
        </div>

        <div class="form-group" data-show-errors>
          <label>Have you ever been evicted, asked to leave, or paid rent late? *</label>
          <br>
          <label class="radio-inline" for="evicted">
            <input type="radio" name="evicted" id="evicted" value="true" data-ng-model="vm.showingRequest.evicted"
                   required> Yes
          </label>
          <label class="radio-inline" for="notEvicted">
            <input type="radio" name="evicted" id="notEvicted" value="false" data-ng-model="vm.showingRequest.evicted"
                   required> No
          </label>

          <div data-ng-messages="vm.form.showingRequestForm.evicted.$error" role="alert">
            <p class="help-block error-text"
               data-ng-message="required"
            >Please tell us if you have been evicted, been asked to leave, or paid rent late.</p>
          </div>
        </div>

        <div class="form-group" data-show-errors>
          <label>Do you have any pets? *</label>
          <br>
          <label class="radio-inline" for="havePets">
            <input type="radio" name="havePets" id="havePets" value="true" data-ng-model="vm.showingRequest.havePets"
                   required> Yes
          </label>
          <label class="radio-inline" for="noPets">
            <input type="radio" name="havePets" id="noPets" value="false" data-ng-model="vm.showingRequest.havePets"
                   required> No
          </label>
          <div data-ng-messages="vm.form.showingRequestForm.havePets.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Please tell us if you have any pets.</p>
          </div>
        </div>

        <div class="form-group" data-ng-if="vm.showingRequest.havePets === 'true'">
          <label>Tell us about your pets...</label>
          <table class="table table-condensed">
            <thead data-ng-show="vm.showingRequest.pets.length">
            <tr>
              <th>#</th>
              <th>Type</th>
              <th>Name</th>
              <th>Age</th>
              <th>Weight</th>
              <th>Gender</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="pet" data-ng-repeat="pet in vm.showingRequest.pets track by $index">
              <th scope="row">{{ $index + 1 }}</th>
              <td>{{ pet.type }}</td>
              <td>{{ pet.name }}</td>
              <td>{{ pet.age }}</td>
              <td>{{ pet.weight }}</td>
              <td>{{ pet.gender }}</td>
              <td><button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-default" data-ng-click="vm.addPet()">Add Pet</button>
        </div>

        <div class="form-group" data-show-errors>
          <label for="tenantCount">How many people will be living in your next home? *</label>
          <select class="form-control" data-ng-model="vm.showingRequest.tenantCount" id="tenantCount" name="tenantCount"
                  required>
            <option value="">Select number of people</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6+</option>
          </select>
          <div data-ng-messages="vm.form.showingRequestForm.tenantCount.$error" role="alert">
            <p class="help-block error-text"
               data-ng-message="required">Please select the number of people that will be living in the home.</p>
          </div>
        </div>

        <div class="form-group">
          <label for="features">Are there any particular features or amenities you want to have in your next
            home?</label>
          <textarea id="features" name="features" class="form-control"
                    placeholder="Washer & Drier, dishwasher, off-street parking, garage, etc."
                    data-ng-model="vm.showingRequest.features"></textarea>
        </div>

        <div class="form-group" data-show-errors>
          <label for="pastRentals">How many places have you rented in the past? *</label>
          <select class="form-control" data-ng-model="vm.showingRequest.pastRentals" id="pastRentals" name="pastRentals"
                  required>
            <option value="">Select number of past rentals</option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3+</option>
          </select>
          <div data-ng-messages="vm.form.showingRequestForm.pastRentals.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Please select the number of past rentals.</p>
          </div>
        </div>

        <div class="form-group" data-show-errors>
          <label for="currentAddress">Where do you live now? *</label>
          <input type="currentAddress" id="currentAddress" name="currentAddress" class="form-control"
                 data-ng-model="vm.showingRequest.currentAddress"
                 placeholder="Current address" required>
          <div data-ng-messages="vm.form.showingRequestForm.currentAddress.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Current address is required.</p>
          </div>
        </div>

        <div class="form-group" data-show-errors>
          <label class="control-label" for="currentRent">How much rent are you paying now? *</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input id="currentRent" name="currentRent" type="number" data-ng-model="vm.showingRequest.currentRent"
                   class="form-control" placeholder="Enter current rent amount" required min="0" step="10">
            <span class="input-group-addon">.00</span>
          </div>
          <div data-ng-messages="vm.form.showingRequestForm.currentRent.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Current rent amount is required.</p>
          </div>

        </div>

        <div class="form-group" data-show-errors>
          <label>When did you move into your current address? *</label>

          <div data-uib-dropdown data-is-open="vm.form.currentAddressMoveInDropDown.IsOpen">
            <div data-uib-dropdown-toggle class="input-group">
              <input type="text" name="currentAddressMoveIn" id="currentAddressMoveIn" class="form-control"
                     data-ng-model="vm.showingRequest.currentAddressMoveIn"
                     data-date-time-input="MM-YYYY" placeholder="MM-YYYY" data-date-formats="['MMM/YYYY']"
                     required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-uib-tooltip="Open Calendar">
                  <i class="glyphicon glyphicon-calendar"></i><span class="sr-only">Calendar</span>
                </button>
              </span>
            </div>
            <div data-uib-dropdown-menu role="menu" data-auto-close="outsideClick">
              <datetimepicker data-ng-model="vm.showingRequest.currentAddressMoveIn"
                              data-datetimepicker-config="{ startView: 'year', minView: 'month'}"
                              data-on-set-time="vm.toggleCurrentAddressMoveInDropDown()">
              </datetimepicker>
            </div>
          </div>

          <div data-ng-messages="vm.form.showingRequestForm.moveIn.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Move-in date of current address is required.</p>
            <p class="help-block error-text" data-ng-message="valid">Move-in date of current address is invalid.</p>
          </div>
        </div>


        <div class="form-group">
          <label for="management">How is the management at your current address?</label>
          <textarea id="management" class="form-control" placeholder="Tell us about your current proeprty manager"
                    data-ng-model="vm.showingRequest.management"></textarea>
        </div>

        <div class="form-group">
          <label for="problems">Have you experienced any problems at your current address?</label>
          <textarea id="problems" class="form-control"
                    placeholder="Plugged drains or toilets, insects or other pets, maintenance issues, etc."
                    data-ng-model="vm.showingRequest.problems"></textarea>
        </div>
        <div class="form-group">
          <label for="reasonForMoving">Why are you moving?</label>
          <textarea id="reasonForMoving" class="form-control"
                    data-ng-model="vm.showingRequest.reasonForMoving"
                    placeholder="Tell us why you are moving"></textarea>
        </div>

        <div class="form-group">
          <label for="anythingElse">Is there anything else we should know about you?</label>
          <textarea id="anythingElse" name="anythingElse" class="form-control"
                    placeholder="Tell us a little more about yourself"
                    data-ng-model="vm.showingRequest.anythingElse"></textarea>
        </div>

        <div class="form-group">
          <label class="control-label" for="referral">How did you hear about this rental?</label>
          <input name="referral" type="text" data-ng-model="vm.showingRequest.referral" id="referral"
                 class="form-control" placeholder="Zillow, Trulia, CraigsList, Friend, etc." required>
        </div>
        <div class="form-group" data-show-errors>
          <label>Terms and Conditions *</label>
          <br>
          <div class="checkbox">

            <label for="agreeToTerms">
              <input type="checkbox" id="agreeToTerms" name="agreeToTerms" value="agree"
                     data-ng-model="vm.showingRequest.agreeToTerms" required>
              I certify the above information is true and complete to the best of my
              knowledge and understand that any false, incomplete, or misleading information may be grounds for
              rejection of this showing request or termination of any future lease or rental agreement.
            </label>

          </div>
          <div data-ng-messages="vm.form.showingRequestForm.agreeToTerms.$error" role="alert">
            <p class="help-block error-text" data-ng-message="required">Please agree to the terms and conditions.</p>
          </div>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.showingRequest._id ? 'Update' : 'Create'}}</button>
        </div>
        <div data-ng-show="vm.error" class="text-danger">
          <strong data-ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
